
<p>
  El comité en el cuál destacarás más como delegado es:
</p><br>
<% if @opcion==1 %>
<p>

  <h2>Comité Contra el Terrorismo (CCT)</h2><br>

  <h1>Régimen Talibán en Afganistán</h1><br>
  Miembros de la mesa: -<br>
  Nivel: Estándar<br>
  Grado: Secundaria<br>

</p>
<% else %>
<% if @opcion==2 %>
<p>
  <%=image_tag("cpi.png", alt: "Example Image")%><br>
  <h2>Corte Penal Internacional (CPI)</h2><br>
  <h1>En contra de Kim Jong-Un por Violación a los Derechos Humanos</h1><br>
  Miembros de la mesa: Roberto André Osornio Villareal, Carlos Rincón Castell, Jorge Augusto Tavera Manzanilla<br>
  Nivel: Estándar

</p>
<% else %>
<p>
  <%=image_tag("lpem.png", alt: "Example Image")%><br>
  <h1>Llegada de Petróleo Extranjero a México</h1><br>
  Miembros de la mesa: Ruben Bringas, Luis Enrique de la Concha, Alejandro Vargas<br>
  Nivel: Estándar<br>
  Grado: Bachillerato

</p>
<% end %>
<% end %>
