<div class="panel panel-default">
  <center><%=image_tag("filo.jpeg", alt: "Bienvenido")%></center><br>
<center><p>Please answer carefully.
Remember this results are just a suggestion, But still is important that
you take it into consideration.
We hope you enjoy the nineteenth edition of D'AMUN.</p></center><br>
<center><%= link_to "Iniciar Cuestionario", quiz_preg1_path , class: "btn btn-default"%></center>

</div>
