<div class="panel panel-default">
<center><h1>Intelligence Department/ Departamento de Inteligencia</h1></center>
<center><p>Respond every section with full honesty and objectiveness./ Responde todas las secciones con completa honestidad y objetividad.</p></center><br>
<center><%= link_to "Iniciar Cuestionario", quiz_preg1_path , class: "btn btn-default"%></center>

</div>
