/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


  body {
  	background: rgb(235, 238, 243);
  }

  .result_title {
   margin: 0 0 20px 0;
  }
  .form-input {
   width: 65% !important;
   float: left;
  }

  strong {
   font-weight: bold;
   font-style: normal;
   padding: 2px;
 }

 h2 {
  text-decoration: underline;
 font-weight: bold;
 font-style: normal;
 padding: 2px;
  }

  h3 {
  font-weight: bold;
  font-style: normal;
  padding: 2px;
   }

   p {
   font-style: normal;
   padding: 2px;
    }

h1 {
 font-style: italic;;
 padding: 2px;
}

.navbar-default {
	background: #528CF7;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	border: none;
	border-radius: 0;
}

.navbar {
	.navbar-brand {

		letter-spacing: -1px;
		color: #FFFFFF
	}


}
