<p>Hola <%= @resource.name %> <%= @resource.paterno %> <%= @resource.materno %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo haciendo click en el enlace de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este email.</p>
<p>Tu contraseña no cambiara hasta que acceses al enlace y crees una nueva.</p>
