<p>Hola <%= @resource.name %> <%= @resource.paterno %> <%= @resource.materno %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un numero de accesos incorrectos.</p>

<p>Da click en el link de abajo para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
